{% extends 'core/base.html' %}
{% block content%}
        <h2 class="mt-4">Tickets Creados</h2>

        {% if tickets %} 
            <table class="table table-striped">
                <thead>
                    <th>Título</th>
                    <th>Description</th>
                    <th>Criticidad</th>
                    <th>Técnico</th>
                    <th>Estado</th>
                    <th>Asignar Técnico</th>
                    <th>Cerrar Ticket</th>
                </thead>
                {% for i in tickets %} 
                <tbody>
                    <td>{{i.title}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.criticy}}</td>
                    <td>{{i.tech}}</td>
                    <td>{{i.status}}</td>
                    <td><a class="btn btn-warning ms-5" href="{% url 'update_ticket' i.id %}"><i class="bi bi-person-workspace"></i></a></td>
                    <td><a class="btn btn-outline-danger ms-4" href="{% url 'close_ticket' i.id %}"><i class="bi bi-x-octagon-fill"></i></a></td>
                </tbody> 
                {% endfor %}
            </table>
        {% else %}
        <h2>No existen Tickets</h2>
        {% endif %}
{% endblock %}